<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Movie Details</h1>
    <table>
        <tr>
            <th>Title</th>
            <td><%= movie.title %></td>
        </tr>
        <tr>
            <th>Genre</th>
            <td><%= movie.genre %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= movie.plot %></td>
        </tr>
        <tr>
            <th>Release Year</th>
            <td><%= movie.year %></td>
        </tr>
        <tr>
            <th>Director</th>
            <td><%= movie.director %></td>
        </tr>
    </table>
    <a href="/movies">Back to Movies</a>
</body>
</html>